# System
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
*.db
sql_app.db

# Vercel
.vercel/

# IDE
.vscode/
.idea/

# Firebase Credentials
firebase_key.json
backend/firebase_key.json
