version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: wishme_backend
    ports:
      - "8000:8000"
    environment:
      - DOMAIN=${DOMAIN}
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - FB_TYPE=${FB_TYPE}
      - FB_PROJECT_ID=${FB_PROJECT_ID}
      - FB_PRIVATE_KEY_ID=${FB_PRIVATE_KEY_ID}
      - FB_PRIVATE_KEY=${FB_PRIVATE_KEY}
      - FB_CLIENT_EMAIL=${FB_CLIENT_EMAIL}
      - FB_CLIENT_ID=${FB_CLIENT_ID}
      - FB_AUTH_URI=${FB_AUTH_URI}
      - FB_TOKEN_URI=${FB_TOKEN_URI}
      - FB_AUTH_PROVIDER_X509_CERT_URL=${FB_AUTH_PROVIDER_X509_CERT_URL}
      - FB_CLIENT_X509_CERT_URL=${FB_CLIENT_X509_CERT_URL}
      - FB_UNIVERSE_DOMAIN=${FB_UNIVERSE_DOMAIN}
      - SMTP_SERVER=${SMTP_SERVER}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SENDER_EMAIL=${SENDER_EMAIL}
      - TWILIO_ACCOUNT_SID=${TWILIO_ACCOUNT_SID}
      - TWILIO_AUTH_TOKEN=${TWILIO_AUTH_TOKEN}
      - TWILIO_PHONE_NUMBER=${TWILIO_PHONE_NUMBER}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      - NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=${NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY}
      - HOST_URL=https://${DOMAIN}
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/sql_app.db:/app/sql_app.db
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: wishme_frontend
    ports:
      - "3000:3000"
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend
    restart: always

  nginx:
    image: nginx:alpine
    container_name: wishme_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    restart: always
