fastapi
uvicorn
sqlalchemy
apscheduler
python-dotenv
openai
pydantic
pydantic-settings
requests
twilio
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
python-multipart
cachetools
psutil
pymysql

firebase-admin
firebase-admin
cryptography
